{% extends 'base.html.twig' %}

{% block title %}Edit Lieu{% endblock %}

{% block body %}



<div
style="border: 1px solid #000; width: 95vw;padding: 20px;margin: 20px auto; display: flex; justify-content: center">
    <h1>Edit Lieu</h1>
</div>


<div class="pure-u-1-2" style="display:flex; flex-direction: column; justify-content:center; margin-top: 20px; margin:auto;">

    <table class="pure-table" style=" margin: auto; margin-right:auto;text-align:center ">
        
    {{ form_start(form, {'attr': {'class': 'pure-form pure-form-stacked'}}) }}

    <div class="pure-u-11-24" style="border: 1px solid #000;margin:auto;">
     
    {{ include('lieu/_form.html.twig', {'button_label': 'Update'}) }}
    

  </div>

<div class="containerBouton" style="display: grid";>
    
   <a href="{{ path('app_lieu_index') }}" class="pure-button pure-button-primary">back to list</a>

</div>

    {{ include('lieu/_delete_form.html.twig') }}

    


</div>
    {{ form_end(form) }}

    

</div>
{% endblock %}
