{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}


<div class="pure-g">
    <div class="pure-u-1-2" style="margin: auto; display:flex; justify-content:center;">
        
    <h1>Lieu</h1>	
</div>
</div>       
          



<div class="pure-u-1-2" style="display:flex; flex-direction: column; justify-content:center; margin-top: 20px; margin:auto;">
 
    <table class="pure-table" style="margin: auto; margin-right:auto;text-align:center ">
   
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lieu.nom }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ lieu.rue }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ lieu.longitude }}</td>
            </tr>
        </tbody>
    </table>
    

</div>



<div class="containerBouton">

    <a href="{{ path('app_lieu_index') }}" class="pure-button pure-button-primary" style="margin-top: 20px;">back to list</a>

    <a href="{{ path('app_lieu_edit', {'id': lieu.id}) }}" class="pure-button pure-button-primary" style="margin-top: 20px;" >edit</a>
</div>

    {{ include('lieu/_delete_form.html.twig') }}


{% endblock %}
