{% extends 'base.html.twig' %}

{% block title %}Sortie index
{% endblock %}

{% block body %}


    {# MESSAGES FLASH #}
	{% for message in app.flashes('notice') %}
		<div class="flash-notice">
			{{ message }}
		</div>
	{% endfor %}

    {# BLOC PARTICIPANT #}
    <div class="pure-g">
        <div class="pure-u-1 blocParticipant">
            <div class="blocParticipant" style="margin: auto;">
                <p><strong>Date du jour : </strong>{{ date }}</p>
                <p>
                    <strong>Participant :</strong>
                    {{ user.name | capitalize }}
                    {{ user.lastname | upper }}
                </p>
	        </div>
        </div>
    </div>
	
    {# FILTRES #}
	<div class="containerFiltres" style="">
        <div class="blocFiltres">
            <h3>Filtrer les sorties</h3>
		    {{ form_start(form, {'attr': {'class': 'pure-form pure-form-stacked'}}) }}
            {{ form_row(form.sites, {'attr': {'class': 'pure-input-1'},'label': 'Site : '}) }}
			{{ form_row(form.keywords, {'attr': {'class': 'pure-input-1'},'label': 'Le nom de la sortie contient : '}) }}
            <div class="dateSortie">
                {{ form_row(form.begin, {'attr': {'class': 'pure-form-aligned pure-input-1'},'label': 'Entre :'}) }}
                {{ form_row(form.end, {'attr': {'class': 'pure-form-aligned pure-input-1'},'label': 'Et :'}) }}
            </div>
        </div>
		
        <div class="blocChecks">
            <div class="checks">
                {{ form_row(form.canBeTheOrganisator, {'attr': {'class': 'pure-form pure-input-1 check'},'label': 'Sorties dont je suis l\'organisateur/trice'}) }}
                {{ form_row(form.canBeRegistered, {'attr': {'class': 'pure-input-1 check'},'label': 'Sorties auxquelles je suis inscrit/e'}) }}
                {{ form_row(form.canBeNotRegistered, {'attr': {'class': 'pure-input-1 check'},'label': 'Sorties auxquelles je ne suis pas inscrit/e'}) }}
                {{ form_row(form.canBeFormersOutings, {'attr': {'class': 'pure-input-1 check'},'label': 'Sorties passées'}) }}
            </div>
        </div>

		<div class="blocBouton">
			<button type="submit" class="pure-button pure-button-primary" style="margin: 10px 0;">Rechercher</button>
            {{ form_end(form) }}
		</div>

		
	</div>

    {# TABLEAU #}
	<div class="pure-g">
		<div class="pure-u-1">

			<table class="pure-table" style="margin: auto;">

				<thead>
					<tr>
						<th>Nom</th>
						<th>Date de la sortie</th>
						<th>Durée</th>
						<th>Clôture des inscriptions</th>
						<th>inscrits/place</th>
						<th>Etat</th>
						<th>Inscrit</th>
						<th>Organisateur</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for sortie in sorties %}

						<tr>
							<td>{{ sortie.nom }}</td>
							<td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
							<td>{{ sortie.duree ~ ' heures' }}</td>
							<td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
							<td>{{ sortie.nbInscrits }}/{{ sortie.nbInscriptionsMax }}</td>
							<td>{{ sortie.etat }}</td>
							<td>{% if sortie.isRegistered %}X{% endif %}</td>
							<td>{{ sortie.organisateurPrenom }}</td>

                            {# BOUTONS #}
							<td style="display: flex; justify-content: center;">

                                {# AFFICHER #}
								{% if sortie.buttons[0] %}
								    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}" class="pure-button pure-button-primary" style="margin-right: 10px;">Afficher</a>
								{% endif %}

                                {# SE DESISTER #}
								{% if sortie.buttons[1] %}
								    {{ include('sortie/_desist_form.html.twig') }}
								{% endif %}

                                {# S'INSCRIRE #}
								{% if sortie.buttons[2] %}
                                    {{ include('sortie/_register_form.html.twig') }}
								{% endif %}

                                {# MODIFIER #}
								{% if sortie.buttons[3] %}
								    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}" class="pure-button pure-button-primary" style="margin-right: 10px;">Modifier</a>
								{% endif %}

                                {# PUBLIER #}
								{% if sortie.buttons[4] %}
								    {{ include('sortie/_publish_form.html.twig') }}
								{% endif %}

                                {# ANNULER #}
								{% if sortie.buttons[5] %}
								    <a href="{{ path('app_sortie_cancel', {'id': sortie.id}) }}" class="pure-button pure-button-primary" style="margin-right: 10px;">Annuler</a>
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
            
			</table>
        
		</div>
        <div class="pure-u-1" style="display:flex; justify-content: center;">
    <a href="{{ path('app_sortie_new') }}" class="pure-button pure-button-primary" style="margin-top: 10px; margin-bottom: 20px;">Créer une sortie</a>
        </div>
	</div>
	
{% endblock %}
