{% extends 'base.html.twig' %}

{% block title %}Sortie index
{% endblock %}

{% block body %}

	{% for message in app.flashes('notice') %}
		<div class="flash-notice">
			{{ message }}
		</div>
	{% endfor %}

    <div class="pure-g">
<div class="pure-u-1 blocParticipant">
<div class="blocParticipant" style="margin: auto;">
		<p><strong>Date du jour : </strong>{{ date }}</p>
		<p>
			<strong>Participant :</strong>
			{{ user.name | capitalize }}
            {{ user.lastname | upper }}
        </p>
	</div>
</div>
</div>
	

	<div style="border: 1px solid #000; width: 95vw;padding: 20px;margin: 20px auto; display: flex; flex-direction: column; justify-content: center; align-items: center;">
		<h1>Filtrer les sorties</h1>
		<p>Le nom de la sortie contient :</p>
		{{ form_start(form, {'attr': {'class': 'pure-form pure-form-stacked'}}) }}

		<div class="pure-u-11-24" style="margin-right: 40px; display: flex; justify-content: center">
			{{ form_row(form.sites, {'attr': {'class': 'pure-input-1'}}) }}
			{{ form_row(form.keywords, {'attr': {'class': 'pure-input-1'}}) }}
			{{ form_row(form.begin, {'attr': {'class': 'pure-input-1'}}) }}
			{{ form_row(form.end, {'attr': {'class': 'pure-input-1'}}) }}
			{{ form_row(form.canBeTheOrganisator, {'attr': {'class': 'pure-input-1'}}) }}
			{{ form_row(form.canBeRegistered, {'attr': {'class': 'pure-input-1'}}) }}
			{{ form_row(form.canBeNotRegistered, {'attr': {'class': 'pure-input-1'}}) }}
			{{ form_row(form.canBeFormersOutings, {'attr': {'class': 'pure-input-1'}}) }}
		</div>

		<div class="container-Bouton">
			<button type="submit" class="pure-button pure-button-primary" style="margin: 10px 0;">Rechercher</button>
		</div>

		{{ form_end(form) }}
	</div>

	<div class="pure-g">
		<div class="pure-u-1 scroller">
			<table class="pure-table" style="margin: auto;">

				<thead>
					<tr>
						<th>Nom</th>
						<th>Date de la sortie</th>
						<th>Clôture</th>
						<th>inscrits/place</th>
						<th>Etat</th>
						<th>Inscrit</th>
						<th>Organisateur</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for sortie in sorties %}
						<tr>
							<td>{{ sortie.nom }}</td>
							<td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
							<td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
							<td>{{ sortie.nbInscrits }}/{{ sortie.nbInscriptionsMax }}</td>
							<td>{{ sortie.etat }}</td>
							<td>{% if sortie.isRegistered %}X{% endif %}</td>
							<td>{{ sortie.organisateurPrenom }}</td>
							<td style="display: flex; justify-content: center;">
								{% if sortie.buttons[0] %}
								<a href="{{ path('app_sortie_show', {'id': sortie.id}) }}" class="pure-button pure-button-primary" style="margin-right: 10px;">Afficher</a>
								{% endif %}
								{% if sortie.buttons[1] %}
								{{ include('sortie/_desist_form.html.twig') }}
								{% endif %}
								{% if sortie.buttons[2] %}
								{{ include('sortie/_register_form.html.twig') }}
								{% endif %}
								{% if sortie.buttons[3] %}
								<a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}" class="pure-button pure-button-primary" style="margin-right: 10px;">Modifier</a>
								{% endif %}
								{% if sortie.buttons[4] %}
								{{ include('sortie/_publish_form.html.twig') }}
								{% endif %}
								{% if sortie.buttons[5] %}
								<a href="{{ path('app_sortie_cancel', {'id': sortie.id}) }}" class="pure-button pure-button-primary" style="margin-right: 10px;">Annuler</a>
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
            
			</table>
        
		</div>
        <div class="pure-u-1" style="display:flex; justify-content: center;">
    <a href="{{ path('app_sortie_new') }}" class="pure-button pure-button-primary" style="margin-top: 10px; margin-bottom: 20px;">Créer une sortie</a>
        </div>
	</div>
	
{% endblock %}
