{% extends 'base.html.twig' %}
{% block title %}
    New Sortie
    
{% endblock %}
{% block body %}

    {# MESSAGES FLASH #}
    <div class="pure-u-1">
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('noticeLieu') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    {# TITRE #}
    <h1>
        Créer nouvelle Sortie
    </h1>

    {# CONTAINER PRINCIPAL #}
    <div class="pure-g containerPrincipal" style="padding: 10px;">

        {# CONTAINER 1 - SORTIE #}
        <div class="pure-u-1-3 box">
            
            {{ form_start(form, {'attr': {'class': 'pure-form pure-form-stacked' }}) }}
            {{ form_row(form.nom, {'attr': {'class': 'pure-input-1' }}) }}            
            {{ form_row(form.dateHeureDebut, {'attr': {'class': 'pure-input-1 pure-form-aligned' }}) }}                           
            {{ form_row(form.dateLimiteInscription, {'attr': {'class': 'pure-input-1 pure-form-aligned' }}) }}                           
            {{ form_row(form.nbInscriptionsMax, {'attr': {'class': 'pure-input-1' }}) }}                           
            {{ form_row(form.duree, {'attr': {'class': 'pure-input-1 pure-form-aligned' }}) }}                            
            {{ form_row(form.infosSortie, {'attr': {'class': 'pure-input-1 pure-form-aligned' }}) }}
                        
        </div>

        {# CONTAINER 2 - LIEUX - BOUTONS #}
        <div class="pure-u-1-6 box">
            {{ form_row(form.lieu, {'attr': {'class': 'pure-input-1' }}) }}

            <div class="container-Bouton">
                <button type="submit" class="pure-button pure-button-primary" style="margin: 10px 0;">
                    Enregitrer
                </button>
                {% if sortie.id %}
                    <a href="{{ path('app_sortie_publier', {'id': sortie.id}) }}) }}" class="pure-button pure-button-primary">
                        Publier
                    </a>
                {% endif %}
                <a href="{{ path('app_sortie_index') }}" class="pure-button pure-button-primary">
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>

        {# CONTAINER 3 - AJOUTER LIEU #}
        <div class="pure-u-1-4 box">
            <button class="pure-button pure-button-primary" id="boutonForm">
                Ajouter un lieu
            </button> 

            {% if formLieu is defined %}
                <div class="formLieu">
                    {{ form_start(formLieu, {'attr': {'class': 'pure-form pure-form-stacked' }}) }}
                    {{ form_end(formLieu) }}
                </div>	
            {% endif %}		
        </div>

    </div>

    
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/lieu.js"></script>
{% endblock %}
