{% extends 'base.html.twig' %}

{% block title %}Sortie
{% endblock %}

{% block body %}

	<div class="pure-g">
		<div class="pure-u-1-2" style="margin: auto; display:flex; justify-content:center;">
			<h1>{{ sortie.nom }}</h1>
		</div>
		<div class="pure-u-4-5" style="margin: auto; display:flex; justify-content:space-between;">
			<div class="bloc">
				<p>Nom de la sortie :
					{{ sortie.nom }}</p>
				<p>Date et heure de la sortie :
					{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y à H:i') : '' }}</p>
				<p>Date limite d'inscription :
					{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</p>
				<p>Nombre de places :
					{{ sortie.nbInscriptionsMax }}</p>
				<p>Durée :
					{{ sortie.duree ? sortie.duree|date('H:i') : '' }}</p>
				<p>Description et infos :
					{{ sortie.infosSortie }}</p>
			</div>
			<div class="bloc">
				<p>Ville organisatrice :
					{{ sortie.lieu.ville.nom }}</p>
				<p>Lieu :
					{{ sortie.lieu.nom }}</p>
				<p>Rue :
					{{ sortie.lieu.rue }}</p>
				<p>Code Postal :
					{{ sortie.lieu.ville.codePostal }}</p>
				<p>Latitude :
					{{ sortie.lieu.latitude }}</p>
				<p>Longitude :
					{{ sortie.lieu.longitude }}</p>
			</div>
		</div>
	</div>

	<div class="pure-u-1-2" style="display:flex; flex-direction: column; justify-content:center; margin-top: 20px;">
		<h2>Liste des participants inscrits :</h2>

		<table class="pure-table">
			<thead>
				<tr>
					<th>Pseudo</th>
					<th>Nom</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Pseudo</td>
					<td>Nom</td>
				</tr>
			</tbody>
		</table>

	</div>

	<a href="{{ path('app_sortie_index') }}" class="pure-button pure-button-primary" style="margin-top: 20px;">Retour</a>

{% endblock %}
